@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 최상위 div*/

@mixin backgroundColor {
  background-color: #fafafa;
}
@mixin loginBtnOn {
  background-color: #2962ff;
  color: white;
}

@mixin loginBtnAtr {
  appearance: unset;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: white;
}

body {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  @include backgroundColor;

  /* 로그인 div */
  .login-container {
    margin-top: 3rem;
    border: 0.5px solid #e6e6e6;
    background-color: white;
    padding: 3rem 2.5rem 1rem 2.5rem;

    .instagram-logo {
      font-family: 'Lobster', cursive;
      font-size: 3rem;
      margin-top: 0;
      margin-bottom: 4rem;
      font-weight: 200;
    }

    /* 로그인 input form */

    .login-box {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      gap: 1rem;
    }

    /* 로그인 ID & PW input */

    input {
      outline: none;
      appearance: unset;
      justify-items: center;
      width: 15rem;
      padding: 0.5rem;
      border: 1px solid #efefef;
      border-radius: 0.1rem;
      @include backgroundColor;
    }

    input #text {
      color: #999999;
      font-size: small;
    }
  }

  /* 로그인 btn */

  .button_ready {
    @include loginBtnAtr;
    @include loginBtnOn;
    opacity: 30%;
  }

  /* 로그인 성공 btn */

  .login-btn {
    @include loginBtnAtr;
    @include loginBtnOn;
    opacity: 100%;
  }

  .login-failure_help {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #003668;
    margin: 2rem 0 1rem 0;
  }
}

/* E.O.D */
