@font-face {
  font-family: 'Lobster';
  src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}

.title {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 4.5em;
  margin: 25px 0 50px 0;
}

.loginall {
  border: 1px solid #dbdbdb;
  height: 450px;
  width: 350px;
  margin: 30px auto;
  .typeid {
    text-align: center;
    margin: 10px 0;
  }
  .typepw {
    text-align: center;
    margin: 10px 0;
  }
  input {
    width: 250px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
  }
}

.login {
  text-align: center;
  button {
    width: 256px;
    height: 30px;
    border-radius: 3px;
    margin: 10px 0px;
    color: white;
    font-weight: 700;
  }
}

.unactivebtn {
  background-color: #c0dffd;
  border-color: #c0dffd;
}

.activebtn {
  background-color: #0095f6;
  cursor: pointer;
}

.forget {
  text-align: center;
  font-size: 12px;
  margin-top: 80px;
  color: #01376b;
}
