@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import '/src/styles/common.scss';

@mixin backgroudColor {
  background-color: #fff;
}

#topNav {
  position: sticky;
  display: flex;
  flex-direction: row;
  height: 7vh;
  width: 100vw;
  padding: 0 28rem;
  justify-items: flex-start;
  @include backgroudColor();
  border: 1px solid #dbdbdb;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  gap: 2rem;

  input {
    appearance: unset;
    height: 1.4rem;
    width: 13rem;
    border: 1px solid #dbdbdb;
    text-align: center;
  }

  img {
    height: 1.1rem;
  }

  .top_nav__icon_right {
    display: flex;
    align-items: center;
  }

  .instagram_logo {
    font-family: 'Lobster', cursive;
    display: inline-block;
  }

  .top_nav__bar {
    width: 1rem;
    height: 1rem;
    color: #000000;
  }

  .top_nav__icon_left {
    display: flex;
    gap: 1.5rem;
  }
}
.friends_story__container {
  display: flex;
  width: 35vw;
  height: 15vh;
  justify-content: space-around;
  border: 1px solid #9c9c9c;
  border-radius: 0.5rem;
  align-items: center;

  .friends_story__individual {
    height: 6rem;
    width: 4rem;
  }

  .friends_story__user1_pic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #000000;
  }

  h4 {
    display: flex;
  }
}

.feed_container {
  // display: flex;
  width: 35vw;
  height: 85vh;
  justify-content: space-around;
  border: 1px solid #9c9c9c;
  border-radius: 0.5rem;
  align-items: center;

  .feed_user__information {
    display: flex;
    background-color: #9c9c9c;
    width: 35vw;
    height: 3rem;
    align-items: center;

    .feed_user__pic {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: #000000;
    }

    h4 {
      margin-left: 0.5rem;
    }
  }
  .feed_img {
    width: 35vw;
    height: 50vh;
  }
}

.feed_container__icons {
  margin: 0.6rem;
  display: flex;
  position: relative;
  gap: 0.6rem;

  .bookmark_icon {
    position: absolute;
    right: 0;
  }
  img {
    width: 1.5rem;
  }
}

.feed_container__ctx {
  margin: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}

.comment_container {
  margin: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  height: 3rem;

  img {
    width: 2rem;
  }

  input {
    @include unsetDefault;
    width: 15rem;
  }

  .commentBtn {
    @include unsetDefault;
    color: cornflowerblue;
    font-weight: 800;
  }
}

.commentList {
  justify-items: left;
  height: 4rem;
  overflow: scroll;

  li {
    margin-left: 0.6rem;
    gap: 0.7rem;
    font-weight: 600;
    display: flex;

    span {
      font-weight: 900;
    }
  }
}

.comment_container {
  display: flex;
}
