@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import '/src/styles/common.scss';

/* - - default setting - - */

* {
  padding: 0.5rem;
  font: $Font_Kor;
}

.mainpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  width: 100vw;
}

.friends_story__container {
  display: flex;
  width: 32rem;
  height: 12vh;
  justify-content: space-around;
  border: $border-set;
  border-radius: 0.5rem;
  align-items: center;
  margin: 2rem 0;

  .friends_story__individual {
    height: 6rem;
    width: 4rem;
  }

  .friends_story__user1_pic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #000000;
  }

  h4 {
    display: flex;
    margin-top: 0.4rem;
  }
}

.right_container {
  margin-top: 3rem;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 20rem;

  .right_container_my_bio {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: 3rem;
      border-radius: 50%;
      border: 1px solid $text-grey;
    }
  }

  .right_container_switch {
    @include unsetDefault;
    color: #000000;
    font-weight: 700;
  }

  .right_container_text {
    display: flex;
    justify-content: space-around;
    width: 20rem;
    margin: 1rem;
    font-weight: 700;
  }

  .right_container_reco_1 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    img {
      width: 3rem;
      border-radius: 50%;
    }

    li {
      padding-left: 1rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    button {
      @include unsetDefault;
      color: #000000;
      font-weight: 700;
    }
  }

  .aside_list {
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
  }
}
