* {
  box-sizing: border-box;
}

/* variable arrtibute*/

$bg_white: #fff;
$Font_Kor: 'Noto Sans KR', sans-serif;
$Font_Eng: 'Lobster', cursive;
$Btn_blue: #488bff;
$text-grey: rgb(128, 128, 128);
$border-set: 1px solid #dbdbdb;

@mixin backgroudColor {
  background-color: #fff;
}

@mixin font_reset($margin, $font-weight) {
  margin: $margin;
  font-weight: $font-weight;
}

@mixin unsetDefault {
  appearance: unset;
  border: none;
  background-color: transparent;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin backgroundColor {
  background-color: #fafafa;
}

@mixin loginBtnAtr {
  @include unsetDefault;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 15rem;
  color: $bg_white;
  background-color: #2962ff;
}

/* text default size*/

h2 {
  font-family: $Font_Eng;
  font-size: 1.2rem;
}

h3 {
  @include font_reset(0, 800);
}

h4 {
  @include font_reset(0, 500);
}

h5 {
  @include font_reset(0, 400);
  font-size: 0.4rem;
  color: $text-grey;
}

h6 {
  @include font_reset(0, 500);
  font-size: 0.7rem;
  color: $Btn_blue;
}

/* E.O.D */
